<!-- Header/Banner -->
{{{startTemplate}}}

<!-- Content -->
<h1 class="heading-text">Sketches <span>by Al Bohling</span></h1>
<div class="container">
  <p>
    With the exception of Duty and formal education, I am a life-long resident of Louisa County in Iowa. I have a
    Bachelor of Science Degree and a Master of Landscape Architecture Degree with Minors in Art and Plant Ecology from
    Iowa State University. My career has been in the design and construction building industry. I have worked on major
    building projects throughout the United States. Pure function and aesthetics have always been at the forefront of my
    projects. In retirement I enjoy building on some of my earlier works and exploring new scenery. The following are
    sketches that I've done over the course of my life.
  </p>
  <!-- heading text -->
  <ul class="image-gallery">
    {{#each sketches as | sketch |}}
    <li>
      <a href="{{slug}}.html" title="click to see details"
        ><img src="images/thumbs/{{filename}}" alt="{{title}}" />
        <div class="overlay"><span>{{title}}</span></div></a
      >
    </li>
    {{/each}}
  </ul>
</div>
<!-- Footer -->
{{{endTemplate}}}
