<!-- Header/Banner -->
{{{startTemplate}}}

<!-- Content -->
<h1 class="heading-text">Sketches <span>by Al Bohling</span></h1>
<div class="container">
  <p>The following are sketches that I've done over the course of my life.</p>
  <!-- heading text -->
  <ul class="image-gallery">
    {{#each sketches as | sketch |}}
    <li>
      <a href="{{slug}}.html" title="click to see details"
        ><img src="images/thumbs/{{filename}}" alt="{{title}}" />
        <div class="overlay"><span>{{title}}</span></div></a
      >
    </li>
    {{/each}}
  </ul>
</div>
<!-- Footer -->
{{{endTemplate}}}
