<!-- Header/Banner -->
{{{startTemplate}}}

<!-- Content -->
<div class="profile">
  <div class="profile-inner">
    <img src="/images/al-bohling.jpg" alt="my image" height="150" width="150" />
    <h1>Al Bohling</h1>
    <div class="profile-description">
      <p>Hello, I am Al. I am retired.</p>
      <p>
        With the exception of military duty and formal education, I am a life-long resident of Louisa County in Iowa. I
        have a Bachelor of Science Degree and a Master of Landscape Architecture Degree with Minors in Art and Plant
        Ecology from Iowa State University. My career has been in the design and construction building industry. I have
        worked on major building projects throughout the United States. Pure function and aesthetics have always been at
        the forefront of my projects. In retirement I enjoy building on some of my earlier works and exploring new
        scenery.
      </p>
    </div>
  </div>
</div>
<!-- Footer -->
{{{endTemplate}}}
