<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Al Bohling</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <div><img src="/images/al-bohling.jpg" alt="my image" height="28" width="28" /></div>
          <div>Al Bohling</div>
        </div>
        <ul id="menu">
          <li><a href="/" title="Home">Home</a></li>
          <li><a href="/sketches" title="Sketches">Sketches</a></li>
          <li><a href="/assignment" title="Assignment">Assignment</a></li>
        </ul>
      </nav>
    </header>
    <main>
